<nav
    class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" alt="Meadowlark Travel Logo" width="50"
                height="50">
        </a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page">Home
                        <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newsletter-signup">Newsletter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/contest/vacation-photo">Contest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vacations">Vacations</a>
                </li>
            </ul>
            <li class="nav-item px-4">
                <a class="nav-link"
                    href="/cart"><i
                        class="fa-solid fa-cart-shopping"></i>Cart</a>
            </li>
        </div>
    </div>
</nav>
